@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
  font-family: "Open Sans", serif;
}
.border-style{
  border: 1px solid #888;
}
.myButton{
  border-radius: 5px !important;
  text-transform: capitalize !important;
  border: 1px solid #888;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  font-size: 16px !important;
}

html {scroll-behavior: smooth;}

html {scrollbar-color: #9e4673 #3d4a59;}